<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <video id="localStream" width="500" controls></video>
    <br></br>
    <textarea id="txtMySignal" cols="100" rows="3"  ></textarea>
    <br></br>
    <input type="text" placeholder="Your friend's token" id="txtFriendSignal">
    <br></br>
    <button id="btnConnect">Connect</button>
    <br></br>
    <video id="friendStream" width="300" controls></video>
		<br></br>
		<!-- <input type="text" id="remoteId" placeholder="Remote ID"> -->
		

  </body>
  <script src="public.js"></script>
  
</html>
